@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22d4fd;
    --cor-hover: #272727; 

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    /* background-color: #2c3943; */
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.descricao {
    color:var(--cor-terciaria);
}

.FotoEd {
    width: 35%;
    height: auto;
    border: 2px solid var(--cor-terciaria);
    border-radius: 10px;
    padding: 10px;
}
.cabecalho{
    padding: 2% 0 0 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}
.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
    
}

/*Posicionamento dos itens*/
.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*O gap faz o espaçamento*/
.apresentacao__conteudo {
    width: 580px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 30px;
    font-family: var(--fonte-primaria)
}

.apresentacao__conteudo__texto {
    font-size: 20px;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 28px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 24px;
}

/*Botões*/
.apresentacao__links__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    padding: 21.5px 0;
    color: var(--cor-secundaria);
    text-decoration: none;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
}
.apresentacao__links__link:hover {
    background-color: var(--cor-hover);
}
.rodape{
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 400;
}



